:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: #f1f5f9;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 100ch;
    padding: 1rem;
}

* {
    box-sizing: border-box;
}

/* content-wrapper */
.content-wrapper {
    min-height: 50vh;
    padding-bottom: 2vh;
}
