:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: #f1f5f9;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 100ch;
    padding: 1rem;
}

* {
    box-sizing: border-box;
}

/* content-wrapper */
.content-wrapper {
    min-height: 50vh;
    padding-bottom: 2vh;
}

/* nav styles */

.nav-buttons {
    width: 100%;
    top: 5rem;
    background-color: #ff9776;
    display: none;
    margin: 0;
}

.nav-buttons button {
    text-align: center;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-buttons button:hover {
    cursor: pointer;
}

.nav-buttons button:hover,
.nav-buttons button:focus {
    background-color: #ff9776;
}

.expanded {
    display: unset;
}

@media (prefers-color-scheme: light) {
    /* :root {
        color: #213547;
        background-color: #ffffff;
    } */

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}