.navbar {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap; /* Prevent buttons from wrapping to the next line */
}

.navbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Webkit-based browsers (Chrome, Safari) */
}

.navbar button {
    background: none;
    border: none;
    color: #333;
    font-weight: bold;
    font-size: medium;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    flex-shrink: 0; /* Prevent buttons from shrinking */
    -webkit-tap-highlight-color: transparent; /* Remove tap highlight on mobile */
    outline: none; /* Remove default focus outline */
}

.nav-buttons button:hover {
    cursor: pointer;
}
.navbar button:focus {
    outline: none; /* Remove focus outline */
}

.navbar button:hover,
.navbar button.active {
    color: #1a73e8;
}

.navbar button::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #1a73e8;
    /* Blue color for the underline */
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.navbar button:hover::after {
    width: 100%;
}

.navbar button.active::after {
    width: 100%;
}

@media (max-width: 600px) {
    .navbar button {
        padding: 8px 10px; /* Reduce padding */
        margin: 5px 5px; /* Reduce margin */
    }
    .navbar button:first-child {
        margin-left: 20%; /* Adjust margin for the first button on smaller screens */
    }
}